---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    <changefreq>{% if page.url == '/' %}daily{% else %}monthly{% endif %}</changefreq>
    <priority>{% if page.url == '/' %}1.0{% elif page.url.includes('/jurnal-') or page.url.includes('/tulisan-') %}0.8{% elif page.url.includes('/tentang/') %}0.5{% else %}0.6{% endif %}</priority>
  </url>
  {%- endfor %}
</urlset>